<footer>
    <nav>
        <ul>
            <li class="opacity-hover"><a href="/">HOME</a></li>
            <li class="opacity-hover"><a href="/cv">CV</a></li>
            <li class="opacity-hover"><a href="/examens">E4/E5</a></li>
            <li class="opacity-hover"><a href="/veille">VEILLE</a></li>
            <li class="opacity-hover"><a href="/projects">PROJECTS</a></li>
            <li class="opacity-hover"><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <div class="footer__more">
        <section>
            <span class="footer__section__title">Socials</span>
            <span class="footer__section__content">
                <img src="/images/linkedin-logo.webp" class="footer__section__illustration" alt="linked-in logo">
                <span><a href="https://www.linkedin.com/in/baptiste-grimaldi/">LinkedIn</a></span>
            </span>
        </section>
        <section>
            <span class="footer__section__title">Contacts</span>
            <span class="footer__section__content">
                <img src="/images/mail-logo.webp" class="footer__section__illustration" alt="mail logo">
                <a href="mailto:contact@baptistegrimaldi.com">contact@baptistegrimaldi.com</a>
            </span>
        </section>
        <section>
            <span class="footer__section__title">Legal</span>
            <span><a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires#">Les obligations à respecter</a></span>
            <span><a href="/legal">Mention légale</a></span>
            <span class="footer__section__content">
                <span><a href="https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode">CC BY-NC-SA 2.0</a></span>
                |
                <span><a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Version lisible</a></span>
            </span>
            <span><img src="/images/BY-NC-SA.webp" alt="BY-NC-SA icons"></span>
        </section>
    </div>
</footer>