<footer>
    <nav>
        <ul>
            <li class="opacity-hover"><a href="/">HOME</a></li>
            <li class="opacity-hover"><a href="/cv">CV</a></li>
            <li class="opacity-hover"><a href="/projects">PROJECTS</a></li>
            <li class="opacity-hover"><a href="/articles">ARTICLES</a></li>
            <li class="opacity-hover"><a href="/doc">DOC</a></li>
        </ul>
    </nav>
    <div>
        <span>Socials</span>
        <span>Contacts</span>
    </div>
</footer>