<header>
    <nav>
        <div>
            <div>
                <span class="code-number">1.</span><a href="/" id="portfolio-head-icon">&lt;img <span class="code-gray">src</span>=<span class="code-green">"logo.svg"</span>&gt;</a>
                <a href="/" class="code-gray"><%= pageHeader %></a>
            </div>
            <span>&lt;span&gt;<span class="code-gray">MENU</span>&lt;/span&gt;</span>
        </div>
    </nav>
</header>