<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/admin-style.css">
</head>
<body>
    <%-
        include("partials/header", { pageHeader: "Admin", pageHeaderShort: "Admin", route: "/admin" })
    %>
    <main>

        <h1>GUTENTAG <%= user.username %></h1>

        <form action="/newcvline" method="post">
            <input type="text" name="title" placeholder="Enter title">
            <input type="text" name="content_level" placeholder="Enter content level">
            <input type="submit" value="submit">
        </form>

    </main>
    <%- include("partials/footer") %>
</body>
</html>