<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/cv-style.css">
    <script src="/javascripts/cv-data-fetch.js"></script>
</head>
<body>
    <%- include("partials/header", {pageHeader: "Curriculum Vitae"}) %>
    <main>
        <div>Baptiste Grimaldi</div>
        <div id="cv-header">
            <span>3D Model</span>
            <div>
                <span>67000 Strasbourg</span>
                <span>France</span>
                <span>bapt.grimaldi@gmail.com</span>
                <span>https://github.com/GrimalDev</span>
            </div>
            <div>
                <span>Développeur full-stack</span>
                <span>Javascript, Html, CSS, Bootstrap, PHP, UI/UX Apache, NodeJS, Docker</span>
                <span>Mobilité: Bas-Rhin</span>
            </div>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>