<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "CV Baptiste Grimaldi"}) %>
    <link rel="stylesheet" href="/stylesheets/cv-style.css">
<!--  rendered fontend for dynamic purposes  -->
    <script src="/javascripts/cv-data-fetch.min.js"></script>
    <%- include("partials/threeJS") %>

    <script type="module" defer src="/javascripts/main-animator.min.js"></script>
</head>
<body>
    <%- include("partials/header", { pageHeader: "Curriculum Vitae", pageHeaderShort: "CV", route: "/cv" }) %>
    <main>
        <div id="cv-header" class="home-section">
            <h1>Baptiste Grimaldi</h1>
            <div id="ddd-and-header">
                <canvas class="ddd-head"></canvas>
                <div id="cv-header-content">
                    <div>
                        <span>67000 Strasbourg</span>
                        <span>France</span>
                        <span id="social-link__header__container">
                            <a href="https://github.com/GrimalDev" target="_blank" rel="noreferrer noopener" class="social-link">Mon GitHub</a>
                            /
                            <a href="https://www.linkedin.com/in/baptiste-grimaldi-5a1b3b1a3/" target="_blank" rel="noreferrer noopener" class="social-link">Linkedin</a>
                        </span>
                    </div>
                    <div>
                        <span>Développeur full-stack</span>
                        <span>Javascript, Html, CSS, Bootstrap, PHP, UI/UX Apache, NodeJS, Docker</span>
                        <span>Mobilité: Bas-Rhin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section">
            <a href="/media/curriculum/CV_BaptisteGrimaldi_v6.3.pdf" download="CV_BaptisteGrimaldi_v6.3.pdf" id="cv-download-button" target="_blank" rel="noreferrer noopener">Télécharger mon CV</a>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>