<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/home-style.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <div>
                    <span class="code-number">1.</span><a href="/" id="portfolio-head-icon">&lt;img <span class="code-gray">src</span>=<span class="code-green">"logo.svg"</span>&gt;</a>
                    <a href="/" class="code-gray"><%= pageHeader %></a>
                </div>
                <span>&lt;span&gt;<span class="code-gray">MENU</span>&lt;/span&gt;</span>
            </div>
        </nav>
        <div id="landing-page">
            <div><span class="code-number">2.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">3.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">4.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">5.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">6.</span><span class="code-center"><span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>&lt;h1&gt;<h1>PORTFOLIO</h1>&lt;/h1&gt;<span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span></span></div>
            <div><span class="code-number">7.</span><span class="code-center"><span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>&lt;h1&gt;<h1><span>GRIMALDI BAPTISTE</span><span>GrimalDev</span></h1>&lt;/h1&gt;<span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span></span></div>
            <div><span class="code-number">8.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">9.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">10.</span><span>&lt;br&gt;</span></div>
            <div>
                <span class="code-number">11.</span>
                <span class="code-center">
                    <span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>
                    &lt;h2&gt;
                    <span class="code-gray">
                        <h2 id="header-formore-scroll">Scroll to see how this page was made</h2>
                        <h2 id="header-formore-swipe">Swipe for more</h2>
                    </span>
                    &lt;/h2&gt;
                    <span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span>
                </span>
            </div>
            <div><span class="code-number">12.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">13.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">14.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">15.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">16.</span><span>&lt;br&gt;</span></div>
        </div>
    </header>
    <main>
        <div id="articles-section" class="home-section">
            <div id="articles-title">
                <h2>MY LATEST ARTICLES</h2>
                <h2>MY LATEST ARTICLES</h2>
            </div>
            <div id="article-cards-all-container">
                <div class="article-card-container">
                    <img src="/images/Portfolio-logo-detailed.png" alt="portfolio image">
                    <span class="article-title">TITLE</span>
                    <span class="article-description">description</span>
                </div>
                <div class="article-card-container">
                    <img src="/images/Portfolio-logo-detailed.png" alt="portfolio image">
                    <span class="article-title">TITLE</span>
                    <span class="article-description">description</span>
                </div>
                <div class="article-card-container">
                    <img src="/images/Portfolio-logo-detailed.png" alt="portfolio image">
                    <span class="article-title">TITLE</span>
                    <span class="article-description">description</span>
                </div>
            </div>
            <div>HOVER TO SEE MORE</div>
        </div>
        <div id="presentation" class="home-section">
        <div id="3d-head"></div>
        <div id="presentation-description"></div>
        </div>
        <div id="technologies" class="home-section">
        <div>USED TECHNOLOGIES</div>
        <span>PHP</span>
        <span>NodeJS</span>
        <span>VueJS</span>
        <span>Javascript</span>
        <span>CSS</span>
        <span>SQL</span>
        <span>Docker</span>
        <span>Bootstrap</span>
        <div>Click to see more projects</div>
        </div>
        </main>
  <%- include("partials/footer") %>
</body>
</html>