<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script defer src="/javascripts/particles-config.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<div id="login-container">
    <div>
        <div>
            <img src="/images/Portfolio-logo-detailed.png" alt="logo portfolio from Grimaldi Baptiste"/>
            <h1>Admin Control</h1>
        </div><!-- /.logo -->
        <form method="post" action="/account/login" id="login-admin-form">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">Enter dashboard</button>
        </form>
    </div>
</div>
<div id="particles-js"></div>
</body>
</html>
