//Admin page stylesheet

/*------------IMPORTS-----------*/
@import "main-style";
@import "header-style";
@import "colors";

/*------------MAIN-----------*/

h1 {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(22px, 6vw, 40px);
    line-height: 30px;
    text-align: center;
}


h2 {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 4vw, 32px);
    line-height: 30px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border: 1px solid #4D4D4C;
}

/*------------ADD PROJECT------------*/

#add-project__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    width: clamp(300px, 80%, 1100px);
    height: fit-content;
    padding: 1rem;
    border: 2px solid transparent;
    * {
        //remove selection
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    &.validated {
        border: 2px solid green !important;

    }
    &.invalid {
        border: 2px solid red !important;
    }
    #add-project__from__input-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .add-project__from__input-item-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            height: fit-content;
            flex-grow: 1;
            flex-basis: 20%;
            .add-project__from__input-item {
                width: 100%;
                height: 2rem;
            }
        }
    }
    .drop-zones__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        gap: 1rem;
        .drop-zone {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 20rem;
            height: 10rem;
            border: 1px dashed #4D4D4C;
            font-family: "Roboto", serif;
            font-weight: 300;
            font-size: clamp(12px, 2vw, 18px);
            line-height: 30px;
            margin: 0;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &.active {
                border: 1px solid #803378;
                transform: scale(1.1);
            }
            &:hover {
                cursor: pointer;
                border: 2px solid #803378;
            }
            .file-list {
                width: 80%;
                overflow: hidden;
                height: fit-content;
                font-family: "Roboto", serif;
                font-weight: 300;
                font-size: clamp(11px, 1.6vw, 16px);
                line-height: 15px;
            }
        }
    }
    input[type="submit"], input[type="reset"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15rem;
        height: 2rem;
        margin: 0;

        font-family: "Roboto", serif;
        font-size: 1rem;
    }
}

#add-project__error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: clamp(12px, 2vw, 18px);
    line-height: 30px;
    margin: 0;
    text-align: center;
    color: #ff4b4b;
}

/*------------LOGS------------*/

main {
    padding-top: 5rem;
}

.time-select__inputs__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;

    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 32px);
    line-height: 30px;
    margin: 0;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 80%;
        height: fit-content;
        padding: 1rem;
        margin: 0;
        #logs-date__label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: fit-content;
            #logs-date__select {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 2rem;
                margin: 0;

                font-family: "Roboto", serif;
                font-size: 1rem;
            }
        }

        input[type="submit"], input[type="reset"] {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15rem;
            height: 2rem;
            margin: 0;

            font-family: "Roboto", serif;
            font-size: 1rem;
        }
    }
}

#logs__table {
    border: none;
    border-spacing: 1rem 1rem;

    tr {
        border: none;
        td {
            border: none;
        }
    }
    .logs__button-del {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        input {
            width: 100%;
            height: 100%;
            padding: .5rem;
            transition: background-color .2s ease-out;
            border: none;
            background-color: #4D4D4C;
            color: white;
            &:hover {
                background-color: #803378;
            }
        }
    }
}

/*------------RESPONSIVE-----------*/


@media screen and (max-width: 740px) {

}

/*------------ANIMATIONS-----------*/

