/*------------IMPORTS-----------*/
@import "main-style";
@import "header-style";

main {
    font-family: 'Roboto', serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.not-found {
    font-weight: 700;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #4D4D4C;
}