//Stylesheet with home specifications

/*------------IMPORTS-----------*/
@import "main-style";

/*------------HEADER-----------*/

header {
  height: 100vh;
  padding: 1.5rem;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  color: #C82829;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

#landing-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  * {
    display: flex;
    align-items: baseline;
  }
  > div {
    gap: 1rem;
    flex-grow: 1;
  }
  h1 {
    margin: 0;
    width: fit-content;
    color: #4D4D4C;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}

.code-gray {
  color: #4D4D4C;
}

.code-green {
  color: #718C00;
}

.code-number {
  color: #737373;
  width: 2em;
  justify-content: right;
  font-size: 17px;
  line-height: 21px;
}

.code-center {
  flex-grow: 1;
  justify-content: center;
}

/*------------NAV-----------*/

nav {
  display: flex;
  align-items: end;
  height: 2.5rem;
  padding-bottom: 1rem;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    > * {
      display: flex;
      align-items: baseline;
    }
    #portfolio-head-icon {
      color: #C82829;
      text-decoration: underline;
      text-decoration-color: #4D4D4C;
      background: rgba(217, 217, 217, 0.48);
    }
    > span {
      text-decoration-line: underline;
      text-decoration-color: #4D4D4C;
      background: rgba(217, 217, 217, 0.48);
      height: fit-content;
      cursor: pointer;
    }
    > div {
      gap: 5rem;
      a:last-child {
        text-decoration: none;
      }
      .code-number {
        display: flex;
        align-items: center;
      }
    }
  }
}

/*------------MAIN-----------*/

main {
  height: 100%;
  .home-section {
    height: 100vh;
    width: 100%
  }
}

/*------------RESPONSIVE-----------*/
