//Stylesheet with home specifications

/*------------IMPORTS-----------*/
@import "main-style";

/*------------GENERAL-----------*/

/*------------HEADER-----------*/

header {
    height: 100vh;
    min-height: 35rem;
    width: 100%;
    padding: 1.5rem;
    * {
        min-width: fit-content;
    }
    #header-formore-swipe {
        display: none;
    }
}

#landing-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding-top: 2.5rem;
    * {
        display: flex;
        align-items: baseline;
        height: fit-content;
        cursor: default;
    }
    > div {
        gap: 1rem;
        flex-grow: 1;
        height: fit-content;
    }
    h1 {
        margin: 0;
        width: fit-content;
        color: $light-black;
        font-weight: 500;
        font-size: clamp(20px, 3vw, 40px);
        line-height: 50px;
        text-align: center;
        span:last-child {
            display: none;
        }
    }
    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 2vw, 24px);
        line-height: 30px;
        margin: 0;
    }

    //animations for the landing page
    .animate.lure-to-scroll {
        animation: updown 3s ease infinite 4s;
    }

    .header__center__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;

        > div {
            gap: 1rem;
            flex-grow: 1;
            height: fit-content;
        }

        .ddd-head {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            //min-height: fit-content;
            //min-width: fit-content;
            overflow: hidden;
            z-index: -10;
        }
    }
}

.code-number {
    color: #737373;
    width: 2em;
    justify-content: right;
    font-size: 17px;
    line-height: 21px;
}

.code-center {
    flex-grow: 1;
    justify-content: center;
}

/*------------NAV-----------*/

header nav {
    top: 0;
    margin-top: 1.5rem;
    position: fixed;
    width: 95%;
    display: flex;
    align-items: end;
    height: 2.5rem;
    padding-bottom: 1rem;
    transition: top .3s;
    background-color: transparent !important;
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        > * {
            display: flex;
            align-items: baseline;
        }
        #portfolio-head-icon {
            color: #C82829;
            text-decoration: underline;
            text-decoration-color: $light-black;
            background: rgba(217, 217, 217, 0.48);
        }
        > span {
            text-decoration-line: underline;
            text-decoration-color: $light-black;
            background: rgba(217, 217, 217, 0.48);
            height: fit-content;
            cursor: pointer;
        }
        > div {
            gap: 5rem;
            a:last-child {
                text-decoration: none;
            }
            .code-number {
                display: flex;
                align-items: center;
            }
        }
    }
}

.menu-unfold {
    top: 2.5rem !important;
    padding-right: 2rem;
}

.menu-unfold-true {
    right: -3rem !important;
}

/*------------MAIN-----------*/

main {
    padding: 0;
    .home-section {
        height: 100vh;
        min-height: 50rem;
        width: 100%;
    }
}

#articles-section {
    justify-content: center;
    gap: 1rem;
    #articles-responsive-tap {
        display: none;
    }
}

#articles-title {
    position: relative;
    font-family: "Inter", serif;
    font-style: normal;
    margin-bottom: 5rem;
    h2 {
        position: relative;
        font-weight: 700;
        font-size: clamp(20px, 3vw, 40px);
        line-height: 48px;
        color: $light-black;
        z-index: 10;
    }
    h2:last-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        color: #C82829 !important;
        transform: translate(2px, 2px);
    }
}

#article-cards-all-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    height: fit-content !important;
    font-family: 'Roboto', serif;
    font-style: normal;
    margin-bottom: 2.5rem;
    color: $light-black;

    .cards__main-container {
        width: 100% !important;
        min-height: unset !important;
        justify-content: space-around;
        .card__container {
            width: clamp(200px, 25vw, 270px) !important;
            height: clamp(350px, 30vh, 370px) !important;
            min-width: unset !important;
        }
    }

    & + div {
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: $light-black;
    }
}

.ddd-head {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#presentation {
    min-height: 35rem;
    padding-inline: 1rem;
    overflow: hidden;
    #presentation-description {
        font-family: "Source Code Pro", serif;
        font-size: clamp(14px, 1.8vw, 20px);
        line-height: 2rem;
    }
}

#technologies {
    font-family: 'Inter', serif;
    font-style: normal;
    h1, h2 {
        font-weight: 700;
        line-height: 39px;
        color: $light-black;
    }
    #technologies-responsive-tap {
        display: none;
    }
}

#techno-bubbles {
    max-width: 100vw;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem 3rem 2rem;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    font-family: "Source Code Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 24px);
    line-height: 30px;
    color: #c82829;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        border: 1px solid #b1b1b1;
    }
    span.very-known {
        min-width: 10rem;
        min-height: 10rem;
    }
    span.known {
        min-width: 7rem;
        min-height: 7rem;
    }
    span.learning {
        min-width: 5rem;
        min-height: 5rem;
    }
}

/*------------RESPONSIVE-----------*/

@media screen and (max-width: 1025px) {
    #landing-page h2 {
        font-size: clamp(14px, 1.8vw, 20px);
    }
}

@media screen and (max-width: 915px) {
    main .home-section {
        height: fit-content;
    }
    .fake-span-tag { display: none !important }
    #article-cards-all-container {
        flex-direction: column;
        align-items: center;
        .article-card-container {
            width: 90%
        }
    }
}

@media screen and (max-width: 740px) {
    .fake-span-tag { display: none !important }
    nav > div > div {
        gap: 1rem !important
    }
    #header-formore-scroll { display: none !important }
    #header-formore-swipe {
        display: inline !important;
        font-size: clamp(16px, 2vw, 20px) !important;
    }
    #articles-responsive-hover { display: none !important }
    #articles-responsive-tap { display: inline !important }
    #technologies-responsive-click { display: none !important }
    #technologies-responsive-tap { display: inline !important }
}

@media screen and (max-width: 555px) {
    .fake-center-tag { display: none !important }
}

@media screen and (max-width: 520px) {
    header {
        padding: 1.5rem .5rem 1.5rem .5rem;
        nav > div > div {
            gap: 2rem;
            a {
                background-color: rgba(217, 217, 217, 0.48);
                padding: 0 1rem 0 1rem;
                text-decoration: underline !important;
                text-decoration-color: $light-black !important;
            }
        }
        #portfolio-head-icon {
            display: none !important;
        }
        > div > div {
            gap: .3rem !important;
        }
    }
    #articles-title {
        h2:last-child {
            transform: translate(1.5px, 1.5px);
        }
    }
}

@media screen and (max-width: 350px) {
    header nav > div > div:first-child a:last-child { display: none !important }
    #landing-page h1 span {
        &:first-child { display: none !important }
        &:last-child { display: inline !important }
    }
}

/*------------ANIMATIONS-----------*/

@keyframes updown {
    0%, 50%, 100% {
        transform: translatey(0);
    }
    20% {
        transform: translatey(5px);
    }
    25% {
        transform: translatey(-20px);
    }
    30% {
        transform: translatey(20px);
    }
    35% {
        transform: translatey(-5px);
    }
}